*{
    box-sizing: border-box;
}
.king{
    margin: 0 auto;
    max-width: 1220px;
    padding: 10px;
}
.f1{
    width: 40px;
    color: #FEFEFF;
}
.first{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
.mm{
    display: none;
}
.ff{
    padding-top: 13px;
}

.f2{
    margin-right: 20px;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.f2:hover{
    border-bottom-style: solid;
}
.second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.s1{
    width: 45%;
   padding-left: 20px;
}
.s1>.hang{
    margin-top: 40px;
    font-size: 70px;
    font-weight: bold;
    line-height: 85px;
    margin-bottom: 20px;
    color: #CA4ED0;
}
.s1>p{
    width: 450px;
    font-size: 18px;
    margin-bottom: 40px;
}
.s1>.s11{
    display: block;
    width: 325px;
    padding: 8px;
    margin-bottom: 15px;
    font-size:16px ;
    padding-left: 20px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 10px;
    outline: none;
}
.s1>.s11:focus{
    border:1px solid blue;
}
.s1>button{
    padding: 14px;
    width: 90px;
    border-radius: 22px;
    color: white;
    background-color:rgb(56, 96, 228) ;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    margin-right: 20px;
}
.s1>button:hover{
    background-color: #4D4DFF;
    transition: 0.4s;
}
.s1>button:active{
    background-color: #ddd;
}
.s1>.check{
    margin-top: 30px;
    margin-bottom: 13px;
}
.check>label{
    margin-left: 10px;
    font-size: 14px;
}
.s12{ 
    width: 140px;
    margin-right: 10px;
}
.s13{
    width: 120px;
}
.f2{
    text-decoration: none;
}
.s2{
    width: 45%;
    padding-top: 130px;

}
.s2>.lk{
    width: 270px;
    margin-bottom: 200px;
}
.s2>.pk{
    width: 230px;
    height: 450px;
}
@media(max-width:1000px){
    .s1{
        width:100%;
     
    }
    .s2{
        width: 100%;
        text-align: center;
    }
    .s1>.hang{
        font-size: 53px;
        line-height: 50px;
    }
    .s1>p{
        text-align: center;
    }
    .gg{
       padding-left: 100px;
        display:block;
    }
    .hh{
        display: inline;
    }
    .s1>.s11{
        width: 450px;      
    }
    .pp{
        width:495px;
        margin: 0 auto;
    }
}
@media(max-width:700px){
    .pp{
        width: 500px; 
       margin-top: 50px;      
    }
    .s1>.hang{
        font-size: 48px;
        margin-left: 10px;
        line-height: 50px;
    }
    .s1>.hang>.gg{
        padding: 0;
    }
    .ff{
        width: 100%;
        display: none;
    }
    .block{
        display: block;
        display: flex;
    }
    .mm{
        display: block;
    }
    .s1>p{
        text-align: left;
        margin-bottom: 100px;
    }
}